<header>Onyx-Crab</header>
<div>
	<form name="pictureForm" enctype="multipart/form-data" ng-submit="uploadFile()">
		<input id="photoInput" type="file" name="picture"/>
		<button type="submit">Upload File</button>
	</form>
</div>

<!-- slider container -->
<div class="photo container slider">

    <!-- extra navigation controls -->
    <ul class="nav">
        <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
            <img src="{{photo.src}}" ng-click="showPhoto($index, photo);" />
        </li>
    </ul>
</div>

