body {
    margin: 0px;
    overflow: hidden;
}

#stereoView {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.
.nav {
    display: block;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
    overflow: hidden;
}
.nav li {
    border: 5px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 0 0 50px 0;
    margin: 0 8px;
    position: relative;
    width: 100px;
    overflow: hidden;
    position: relative;
}
.nav li.active {
    border: 5px solid #FFFFFF;
}
.nav li img {
    width: 100%;
    position: absolute;
}

.slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 50%;
    margin: 20px auto;
    position: relative;
    width: 800px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

